
<h1 class="text-center text-2xl font-bold mb-8">Recipes</h1>
      <% @recipes.each do |recipe| %>
      <div class="grid place-items-center">
        <div class="flex flex-col mb-4 items-center bg-white border rounded-lg shadow-md md:flex-row md:max-w-xl dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <div class="flex flex-col">
            <h3 class="mb-2 text-l font-bold tracking-tight text-gray-900 dark:text-white"><%= recipe.name %></h3>
            <span class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700"><%= button_to "Delete", recipe_path(recipe.id), method: :delete %></span>
              <a class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700" href="/recipes/<%= recipe.id %>">
                View
              </a>
              </div>
            <div class="flex flex-col p-4 w-50">
              <div><%= recipe.description %></div>
            </div>
          </div>
        </div>
        </div>
      <% end %>
<div class="flex justify-center">
<span class="text-sm bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mt-2">
<%= link_to "New recipe", new_recipe_path %>
</span>
</div>