<div>
<div class="recipe">
<h2><%= @recipe.name %></h2>
<div>Preparation time: <%= @recipe.preparation_time %></div>
<div>Cooking time: <%= @recipe.cooking_time %></div>
<div>Description: <%= @recipe.description %></div>
</div>

<% if !current_user.nil? && current_user.id == @recipe.user_id %>
		<div>
			<%= link_to "Generate Shopping List"%>
			<%= link_to "Add Ingredient", new_recipe_recipe_food_path(@recipe.id)%>
		</div>
	<% end %>

    <table>
      <thead>
        <tr>
          <th> Food </th>
          <th> Unit </th>
          <th> Quantity </th>
					<th> Unit Price </th>
          <th=> Total Price </th>
					<% if !current_user.nil? && current_user.id == @recipe.user_id %>
          	<th> Action </th>
					<% end %>
        </tr>
      </thead>
      <tbody>

        <% RecipeFood.all.each do |recipe_food| %>
					<tr>
					<td>
						<%= recipe_food.food.name %>
					</td>
					<td>
						<%= recipe_food.food.measurement_unit %>
					</td>
						<td>
								<%= recipe_food.quantity %>
						</td>
							<td>
								$<%= recipe_food.food.price %>
						</td>
						<td>
								$<%= recipe_food.quantity.to_i * recipe_food.food.price.to_i %>
						</td>
						<% if !current_user.nil? && current_user.id == @recipe.user_id %>
							<td>
								<%= button_to "Delete", recipe_recipe_food_path(@recipe.id, recipe_food.id) , method: :delete%>
							</td>
						<% end %>
						</tr>
					<% end %>
      </tbody>
    </table>
</div>