<h1>New Ingredient</h1>
<div>
<%= form_with(model: [@recipe, @recipe_food])  do |form| %>
	<%= form.label :quantity  %>
  <%= form.number_field :quantity %>
  <%= form.select :food_id, @foods.map { |food| [food.name, food.id] } %>
  <div>
    <%= form.submit "Add Ingredient"%>
    <%= link_to "Back to Recipes", recipes_path%>
  </div>
<%end%>
</div>