<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header>
  <%= link_to "Recipe App", root_path %>
    <nav>
      <%= link_to "Foods", root_path %>
      <%= link_to "Recipes", recipes_path(current_user) %>
      <%= link_to "Public Recipes", public_recipes_path %>
    </nav>
</header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
  </body>
</html>
